<!DOCTYPE HTML>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>

    <link href='http://fonts.googleapis.com/css?family=Wire+One' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/assets/css/style.css" />
</head>
<body>
    <div class="site-container">
        <header class="site-header">
            <h1><a href="/">#gitfr</a></h1>
        </header>

        <div class="site-content">
            {{ content }}
        </div>

        <aside class="site-aside">
            <div class="part">
                <section class="aside aside-categories">
                    <h3>Catégories</h3>
                    <ul>
                        <li>category 1</li>
                        <li>category 2</li>
                        <li>category 3</li>
                        <li>category 4</li>
                        <li>category 5</li>
                        <li>category 6</li>
                        <li>category 7</li>
                        <li>category 8</li>
                        <li>category 9</li>
                        <li>category 10</li>
                        <li>category 11</li>
                        <li>category 12</li>
                    </ul>
                </section>
            </div>
            <div class="part">
                <section class="aside aside-archives">
                    <h3>Archives</h3>
                    <ul>
                        <li>Janvier 2012</li>
                        <li>Février 2012</li>
                        <li>Mars 2012</li>
                        <li>Avril 2012 2012</li>
                        <li>Mai 2012</li>
                        <li>Juin 2012</li>
                        <li>Juillet 2012</li>
                        <li>Aout 2012</li>
                        <li>Septembre 2012</li>
                        <li>Novembre 2012</li>
                        <li>Décembre 2012</li>
                    </ul>
                </section>
            </div>
            <div class="part">
                <section class="aside aside-contact">
                    <h3>Contact</h3>
                    <p> mail : seb@gitfr.net </p>
                    <p> liste de diffusion : gitfr </p>
                    <p> IRC : #git-fr sur Freenode </p>
                </section>

                <section class="aside aside-twitter">
                    <h3>Twitter</h3>
                    <p>Loading...</p>
                </section>
            </div>
            <br class="clearfix" />
        </aside>

        <div class="site-footer">
            <p class="credit">
                &copy; Crédits <a href="#">Sébastien Douche</a>
                &mdash; design <a href="http://moquet.net">Matthieu Moquet</a>
            </p>
        </div>
    </div>
</body>
</html>
